<section class="footer">
    <div class="footer__wrapper">
        <div class="footer__position-wrapper">
        <p class="title-main title-main_size-footer">Спасибо, что воспользовались нашим сервисом <img src="img/footer/smile.png" alt="" class="title-main__smile"></p>
        <p class="title-main title-main_small title-main_small-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="social-info">
            <p class="social-info__title">Рассказать друзьям:</p>
            <a href="" class="social-info__link"><img src="img/footer/social-info/twitter.png" alt="" class="social-info__img"></a>
            <a href="" class="social-info__link"><img src="img/footer/social-info/vk.png" alt="" class="social-info__img"></a>
            <a href="" class="social-info__link"><img src="img/footer/social-info/facebook.png" alt="" class="social-info__img"></a>
        </div>
    </div>
        <div class="footer__bottom-wrapper">
        <p class="footer-title">Компилим 2017</p>
        <p class="footer-title">Разработка — <span class="footer-title_company">Country</span></p>
        <div class="footer__link-wrapper"><img src="img/footer/country.png" alt="" class="footer__link"></div>
        </div>
    </div>
</section>