<section class="header">
    <div class="header__wrapper">
    <div class="wrapper-header-content">
    <div class="header__logo-wrapper header__logo-wrapper">
        <img src="img/header/Logo.png" alt="logo" class="header__logo header__logo_firts"></div>
        <div class="header__title-wrapper">
            <p class="title-main">Быстрый и удобный компилятор<span class="title-main__dot">.</span></p>
            <p class="title-main title-main_small">Легко настроить и начать пользоваться</p>
        </div>

    <div class="header__logo-wrapper">
        <img src="img/header/Logo-text.png" alt="logo-text" class="header__logo"></div>
    </div>
    <img src="img/header/decoration/LineS.png" alt="" class="header__decoration header__decoration_s1" >
    <img src="img/header/decoration/LineS.png" alt="" class="header__decoration header__decoration_s2" >
    <img src="img/header/decoration/LineS.png" alt="" class="header__decoration header__decoration_s3" >
    <img src="img/header/decoration/LineS.png" alt="" class="header__decoration header__decoration_s4" >
    <img src="img/header/decoration/Line_b1.png" alt="" class="header__decoration header__decoration_b1">
    <img src="img/header/decoration/Line_b2.png" alt="" class="header__decoration header__decoration_b2">
    </div>
</section>